### 1. Cleaning non-countries list

> The data files contain non countries list in Country_Regio & Province_State

In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("data/time_series_covid19_confirmed_global.csv")
df = df[df['Country/Region'].notna()].copy()
# List of known non-country entries in the JHU data
non_countries = [
    "Diamond Princess", "Grand Princess", "MS Zaandam", "Recovered",
    "Holy See", "Summer Olympics 2020", "Winter Olympics 2022", "Kosovo", 
    "West Bank and Gaza", "Burma", "Micronesia",
    "Congo (Kinshasa)", "Congo (Brazzaville)", "Eswatini", "Korea, South",
    "Laos", "North Macedonia", "Timor-Leste", "Palestine",
    "Mainland China", "occupied Palestinian territory"
]

# Filter the dataframe to keep only valid countries
df_cleaned = df[~df['Country/Region'].isin(non_countries)].copy()
df_cleaned = df_cleaned.sort_values(by="Country/Region").reset_index(drop=True)
non_states = [
    "Diamond Princess", "Grand Princess", "MS Zaandam",
    "Repatriated Travellers", "Unassigned",
    "French Guiana", "Greenland", "Hong Kong", "Macau",
    "Guadeloupe", "Martinique", "Faroe Islands", "Gibraltar",
    "Bermuda", "Isle of Man","Recovered"
]

# Drop rows where Province_State is in the non_states list
df_cleaned_2 = df_cleaned[~df_cleaned["Province/State"].isin(non_states)].copy()

df_cleaned_2.to_csv("data/time_series_covid19_confirmed_global.csv", index= False)

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("data/time_series_covid19_deaths_global.csv")
df = df[df['Country/Region'].notna()].copy()
# List of known non-country entries in the JHU data
non_countries = [
    "Diamond Princess", "Grand Princess", "MS Zaandam", "Recovered",
    "Holy See", "Summer Olympics 2020", "Winter Olympics 2022", "Kosovo", 
    "West Bank and Gaza", "Burma", "Micronesia",
    "Congo (Kinshasa)", "Congo (Brazzaville)", "Eswatini", "Korea, South",
    "Laos", "North Macedonia", "Timor-Leste", "Palestine",
    "Mainland China", "occupied Palestinian territory"
]

# Filter the dataframe to keep only valid countries
df_cleaned = df[~df['Country/Region'].isin(non_countries)].copy()
df_cleaned = df_cleaned.sort_values(by="Country/Region").reset_index(drop=True)
non_states = [
    "Diamond Princess", "Grand Princess", "MS Zaandam",
    "Repatriated Travellers", "Unassigned",
    "French Guiana", "Greenland", "Hong Kong", "Macau",
    "Guadeloupe", "Martinique", "Faroe Islands", "Gibraltar",
    "Bermuda", "Isle of Man","Recovered"
]

# Drop rows where Province_State is in the non_states list
df_cleaned_2= df_cleaned[~df_cleaned["Province/State"].isin(non_states)].copy()

df_cleaned_2.to_csv("data/time_series_covid19_deaths_global.csv", index= False)

In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("data/time_series_covid19_recovered_global.csv")
df = df[df['Country/Region'].notna()].copy()
# List of known non-country entries in the JHU data
non_countries = [
    "Diamond Princess", "Grand Princess", "MS Zaandam", "Recovered",
    "Holy See", "Summer Olympics 2020", "Winter Olympics 2022", "Kosovo", 
    "West Bank and Gaza", "Burma", "Micronesia",
    "Congo (Kinshasa)", "Congo (Brazzaville)", "Eswatini", "Korea, South",
    "Laos", "North Macedonia", "Timor-Leste", "Palestine",
    "Mainland China", "occupied Palestinian territory"
]

# Filter the dataframe to keep only valid countries
df_cleaned = df[~df['Country/Region'].isin(non_countries)].copy()
df_cleaned = df_cleaned.sort_values(by="Country/Region").reset_index(drop=True)
non_states = [
    "Diamond Princess", "Grand Princess", "MS Zaandam",
    "Repatriated Travellers", "Unassigned",
    "French Guiana", "Greenland", "Hong Kong", "Macau",
    "Guadeloupe", "Martinique", "Faroe Islands", "Gibraltar",
    "Bermuda", "Isle of Man","Recovered"
]

# Drop rows where Province_State is in the non_states list
df_cleaned_2 = df_cleaned[~df_cleaned["Province/State"].isin(non_states)].copy()

df_cleaned_2.to_csv("data/time_series_covid19_recovered_global.csv", index= False)

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv("data/time_series_covid19_vaccine_doses_admin_global.csv")
df = df[df['Country_Region'].notna()].copy()
# List of known non-country entries in the JHU data
non_countries = [
    "Diamond Princess", "Grand Princess", "MS Zaandam", "Recovered",
    "Holy See", "Summer Olympics 2020", "Winter Olympics 2022", "Kosovo", 
    "West Bank and Gaza", "Burma", "Micronesia",
    "Congo (Kinshasa)", "Congo (Brazzaville)", "Eswatini", "Korea, South",
    "Laos", "North Macedonia", "Timor-Leste", "Palestine",
    "Mainland China", "occupied Palestinian territory"
]

# Filter the dataframe to keep only valid countries
df_cleaned = df[~df['Country_Region'].isin(non_countries)].copy()
df_cleaned = df_cleaned.sort_values(by="Country_Region").reset_index(drop=True)
non_states = [
    "Diamond Princess", "Grand Princess", "MS Zaandam",
    "Repatriated Travellers", "Unassigned",
    "French Guiana", "Greenland", "Hong Kong", "Macau",
    "Guadeloupe", "Martinique", "Faroe Islands", "Gibraltar",
    "Bermuda", "Isle of Man","Recovered"
]

# Drop rows where Province_State is in the non_states list
df_cleaned_2 = df_cleaned[~df_cleaned["Province_State"].isin(non_states)].copy()

df_cleaned_2.to_csv("data/time_series_covid19_vaccine_doses_admin_global.csv", index= False)

In [5]:
df=pd.read_csv("data/time_series_covid19_confirmed_global.csv")
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

### 2. Data Formating

> Reformating the data columns and aggregate them in the same date

In [6]:
df_melt = pd.melt(frame=df,
        id_vars=df.columns[:4],
        value_vars=df.columns[4:],
        var_name="Date",
        value_name="Confirmed"
)

df_melt.Date = pd.to_datetime(df_melt.Date)

/var/folders/8m/rfsmltyn01b1h7rd54xtgnvw0000gn/T/ipykernel_94421/2979037601.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_melt.Date = pd.to_datetime(df_melt.Date)

In [7]:
df_melt.head(2)

  Province/State Country/Region       Lat       Long       Date  Confirmed
0            NaN    Afghanistan  33.93911  67.709953 2020-01-22          0
1            NaN        Albania  41.15330  20.168300 2020-01-22          0

In [17]:
df_melt[df_melt["Country/Region"]=="China"].groupby(by="Date").agg({"Confirmed": "sum"}).values

array([[    547],
       [    639],
       [    916],
       ...,
       [2023904],
       [2023904],
       [2023904]])